<div class="col-md-6">
  <%= link_to "#" do %>
    <div class="card">
      <div class="card-block">
        <h4 class="card-title"><%= venue.name %></h4>
        <p class="card-text"><%= venue.full_address %></p>
      </div>
    </div>
  <% end %>
</div>
